<div class="container-fluid">
  <div class="row m-t-1">
    <div class="col-xs-3">
      <span id="boxND" class="h4"></span> Total Amount
    </div>
    <div class="col-xs-3">
      <span id="quantityND" class="h4"></span> Quantity Sold
    </div>
     <div class="col-xs-3">
      <span id="countND" class="h4"></span> Number Of Sales
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-9">
      <div id="historicalSelect">
        <a href="#" class="reset pull-xs-right" style="display: none" {{action 'reset' 'historicalSelect'}}>reset</a>
        <h6>by Month</h6>
      </div>
      <div id="historicalChart">
        <a href="#" class="reset pull-xs-right" style="display: none" {{action 'reset' 'historicalSelect'}}>reset</a>
        <h6>by Month</h6>
      </div>
    </div>
    <div class="col-md-2 col-lg-3">
      <div id="statusChart">
        <a href="#" class="reset pull-xs-right" style="display: none" {{action 'reset' 'statusChart'}}>reset</a>
        <h6>by Status</h6>
      </div>
      <div id="yearChart">
        <a href="#" class="reset pull-xs-right" style="display: none" {{action 'reset' 'yearChart'}}>reset</a>
        <h6>Year</h6>
      </div>
     
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div id="departmentChart">
        <a href="#" class="reset pull-xs-right" style="display: none" {{action 'reset' 'departmentChart'}}>reset</a>
        <h6>by Channels</h6>
      </div>
      {{!-- <table id="departmentTable" class="table table-sm">
        <thead>
          <tr>
            <th>Channel</th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
      </table> --}}
    </div>
    <div class="col-md-3">
      <div id="groupChart">
        <a href="#" class="reset pull-xs-right" style="display: none" {{action 'reset' 'groupChart'}}>reset</a>
        <h6>by Product Groups</h6>
      </div>
    </div>
    <div class="col-md-3">
     <div id="monthChart">
        <a href="#" class="reset pull-xs-right" style="display: none" {{action 'reset' 'monthChart'}}>reset</a>
        <h6>Month</h6>
      </div>
    </div>
    <div class="col-md-3">
     
    <div id="statusPieChart">
        <a href="#" class="reset pull-xs-right" style="display: none" {{action 'reset' 'statusPieChart'}}>reset</a>
        <h6>Status Piechart</h6>
      </div>

  {{!--  <div id="weekChart">
        <a href="#" class="reset pull-xs-right" style="display: none" {{action 'reset' 'weekChart'}}>reset</a>
        <h6>Weekdays</h6>
      </div>--}}
    </div>
  </div>

  {{!-- <table id="dataTable" class="table table-striped table-sm">
    <thead>
      <th>Date</th>
      <th>Department</th>
      <th>Group</th>
      <th>Amount</th>
    </thead>
  </table> --}}
</div>
{{yield}}
