<div class="annual-wrapper">
  <div class="container-fluid">
    <div class="row m-t-1">
      <div class="col-xs-12 col-sm-12 col-md-3">
          <article class="statistic-box red">
              <div>
                  <div class="number" id="boxND"></div>
                  <div class="caption"><div>Total Amount</div></div>
              </div>
          </article>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
          <article class="statistic-box purple">
              <div>
                  <div class="number" id="quantityND"></div>
                  <div class="caption"><div>Quantity Sold</div></div>
              </div>
          </article>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
           <article class="statistic-box green">
              <div>
                  <div class="number" id="countND"></div>
                  <div class="caption"><div>Number Of Sales</div></div>
              </div>
          </article>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
         <article class="statistic-box yellow">
            <div>
                <div class="number"> <a href="#" class="reset" {{action 'masterReset'}}>Reset All</a></div>
                <div class="caption"><div>Redrawing Charts</div></div>
            </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-9">
            <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Filterable by Month</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'historicalSelect'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="historicalSelect">
              </div>
            </section>

            <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">By Month</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'historicalSelect'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="historicalChart">
                  
              </div>
          </section>
        
      </div>
      <div class="col-md-2 col-lg-3">
      <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Year</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'yearChart'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="yearChart">
                  
              </div>
          </section>
     
          <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Status</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'statusChart'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="statusChart">
                  
              </div>
          </section>

      </div>
    </div>
  <div class="row">
      <div class="col-md-3">

         <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Channels Pie Chart</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'departmentPieChart'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="departmentPieChart">
                  
              </div>
          </section>

       
        <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Channels</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'departmentChart'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="departmentChart">
                  
              </div>
          </section>
              
      </div>
      <div class="col-md-3">
           <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Product Groups</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'groupChart'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="groupChart">
                  
              </div>
          </section>
      </div>
      <div class="col-md-3">
       <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Month</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'monthChart'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="monthChart">
                  
              </div>
          </section>
      </div>
      <div class="col-md-3">
       <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Status Piechart</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'statusPieChart'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="statusPieChart">
                  
              </div>
          </section>


           <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Month Piechart</h3>
                  <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a href="#"  style="display: none" {{action 'reset' 'monthPieChart'}}>reset</a></li></ul></div>
              </header>
              <div class="box-typical-body panel-body" id="monthPieChart">
                  
              </div>
          </section>

      </div>
  </div>

  </div>
</div>  

  {{yield}}
