  <div class="container-fluid">
    <div class="row m-t-1">
      <div class="col-xs-12 col-sm-12 col-md-4">
          <article class="statistic-box red">
              <div>
                  <div class="number" id="amountND"></div>
                  <div class="caption"><div>Total Amount</div></div>
              </div>
          </article>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
          <article class="statistic-box purple">
              <div>
                  <div class="number" id="countND"></div>
                  <div class="caption"><div>Number of Sales</div></div>
              </div>
          </article>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
         <article class="statistic-box yellow">
            <div>
                <div class="number"> <a href="#" class="masterReset" {{action 'masterReset'}}>Reset All</a></div>
                <div class="caption"><div>Redrawing Charts</div></div>
            </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
            <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Month <button class="reset pull-xs-right btn btn-sm btn-info" {{action 'reset' 'monthChart'}}>X</button></h3>
              </header>
              <div class="box-typical-body panel-body" id="monthChart">
              </div>
            </section>

            <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Coach Comparison <button class="reset pull-xs-right btn btn-sm btn-info" {{action 'reset' 'coachPieChart'}}>X</button></h3>
              </header>
              <div class="box-typical-body panel-body" id="coachPieChart">
              </div>
            </section>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
          <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Groups <button class="reset pull-xs-right btn btn-sm btn-info" {{action 'reset' 'groupChart'}}>X</button></h3>
              </header>
              <div class="box-typical-body panel-body" id="groupChart">
              </div>
            </section>

            <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">Coach Name <button class="reset pull-xs-right btn btn-sm btn-info" {{action 'reset' 'coachChart'}}>X</button></h3>
              </header>
              <div class="box-typical-body panel-body" id="coachChart">
              </div>
            </section>
      </div>
    </div>
  </div>

{{yield}}
