<div class="row m-t-1">
  <div class="col-lg-6">
    <h4>
      {{or selectedDepartment.name "Group"}} Revenue {{moment-format selectedMonth "MMM YYYY"}}
    </h4>
    <div class="card-group m-t-1">
      <div class="card card-block">
        <h5>${{format-number totalAmount format="(,0)"}}</h5> Total
      </div>
      <div class="card card-block">
        <h5>{{format-number totalCount format="(,0)"}}</h5> Unit(s) Sold
      </div>
      <div class="card card-block">
        <h5>{{format-number projection format="(,0)"}}</h5> Projection
      </div>
      <div class="card card-block">
        <h5>{{if target.amount (format-number target.amount format="(,0)") 'N/A'}}</h5> Target
      </div>
      <div class="card card-block">
        <h5>{{if target.amount (format-number percentToTarget format="(,0.00%)") 'N/A' }}</h5> % to Target
      </div>
    </div>
    <h6 class="m-t-1">Daily Accummulated</h6>
    <div>
      {{graph-month data=datesGroup target=target.amount}}
    </div>
    <h6 class="m-t-1">Daily</h6>
    <div>
      {{graph-daily data=datesGroup target=target.amount leastSquaresCoeff=leastSquaresCoeff}}
    </div>
  </div>
  <div class="col-lg-6">
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Product</th>
        {{#each departmentsGroup as |department| }}
          <th>{{department.name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>All Product</th>
        {{#each departmentsGroup as |department| }}
          <td>
            {{format-number department.value.amount format=",0"}}&nbsp;($)
            {{format-number department.value.count format=",0"}}&nbsp;(U)
          </td>
        {{/each}}
      </tr>
      {{#each groupsGroup as |group| }}
        <tr>
          <th>{{group.name}}</th>
          {{#each group.departments as |department| }}
            <td class="{{if (eq department.value.count 0) "zero"}}">
              {{format-number department.value.amount format=",0"}}&nbsp;($)
              {{format-number department.value.count format=",0"}}&nbsp;(U)
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
  </div>  </div>
</div>
{{yield}}
