<div class="row m-t-1">
  <div class="col-lg-6">

     <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
      <header class="box-typical-header panel-heading">
          <h3 class="panel-title">Daily Accummulated</h3>
      </header>
      <div class="box-typical-body panel-body">
            {{graph-month data=datesGroup target=target.amount}}
      </div>
    </section>

  <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
      <header class="box-typical-header panel-heading">
          <h3 class="panel-title">Daily</h3>
      </header>
      <div class="box-typical-body panel-body">
             {{graph-daily data=datesGroup target=target.amount leastSquaresCoeff=leastSquaresCoeff}}
      </div>
  </section>

  </div>
  <div class="col-lg-6">
   <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title"> {{or selectedDepartment.name "Group"}} Revenue {{moment-format selectedMonth "MMM YYYY"}}</h3>
              </header>
              <div class="box-typical-body panel-body">

               <div class="col-md-12"><br/>
                     <article class="statistic-box red">
                        <div>
                            <div class="number"> ${{format-number totalAmount format="(,0)"}}</div>
                            <div class="caption"><div>Total</div></div>
                        </div>
                    </article>
                  </div>
                 <div class="col-md-6">
                     <article class="statistic-box purple">
                        <div>
                            <div class="number"> {{format-number totalCount format="(,0)"}}</div>
                            <div class="caption">Unit(s) Sold<div></div></div>
                        </div>
                    </article>
                  </div>
                   <div class="col-md-6">
                     <article class="statistic-box green">
                        <div>
                            <div class="number">{{format-number projection format="(,0)"}}</div>
                            <div class="caption">Projection<div></div></div>
                        </div>
                    </article>
                  </div>
                   <div class="col-md-6">
                     <article class="statistic-box yellow">
                        <div>
                            <div class="number">{{if target.amount (format-number target.amount format="(,0)") 'N/A'}}</div>
                            <div class="caption">Target<div></div></div>
                        </div>
                    </article>
                  </div>
                   <div class="col-md-6">
                     <article class="statistic-box red">
                        <div>
                            <div class="number">{{if target.amount (format-number percentToTarget format="(,0.00%)") 'N/A' }}</div>
                            <div class="caption"> % to Target<div></div></div>
                        </div>
                    </article>
                  </div>
              </div>
    </section>
            <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
            <header class="box-typical-header panel-heading">
              <h3 class="panel-title">Data Table</h3>
          </header>
              <div class="box-typical-body panel-body">
                   <div class="table-responsive">
                      <table class="table table-condensed table-bordered table-hover table-striped table-sm">
                        <thead>
                          <tr>
                            <th>Product</th>
                            {{#each departmentsGroup as |department| }}
                              <th>{{department.name}}</th>
                            {{/each}}
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>All Product</th>
                            {{#each departmentsGroup as |department| }}
                              <td>
                                {{format-number department.value.amount format=",0"}}&nbsp;($)
                                {{format-number department.value.count format=",0"}}&nbsp;(U)
                              </td>
                            {{/each}}
                          </tr>
                          {{#each groupsGroup as |group| }}
                            <tr>
                              <th>{{group.name}}</th>
                              {{#each group.departments as |department| }}
                                <td class="{{if (eq department.value.count 0) "zero"}}">
                                  {{format-number department.value.amount format=",0"}}&nbsp;($)
                                  {{format-number department.value.count format=",0"}}&nbsp;(U)
                                </td>
                              {{/each}}
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                  </div>
              </div>
          </section>
  </div>
</div>
{{yield}}
