<div class="container-fluid">
  <div class="card-group m-t-1">
    {{#each departmentGroup as |department|}}
    <div class="card card-block">
        {{department.name}}
    </div>
    {{/each}}
  </div>
  <div class="row m-t-1">
    <div class="col-sm-9">
      <div class="card card-block">{{graph-bar data=totalsByDate departments=departments}}</div>
    </div>
    <div class="col-sm-3">
      <div class="card card-block"><h1>{{format-number total format="(,0)"}}</h1></div>
    </div>
  </div>
  <div class="card-group m-t-1">
    {{#each totalsByDepartment as |department| }}
      <div class="card">
        <div class="card-block">
          <h4 class="list-group-item-heading">{{format-number department.total format="(,0)"}}</h4>
          <p class="list-group-item-text">{{department.name}}</p>
        </div>
        <ul class="list-group list-group-flush">
          {{#each department.products as |product| }}
            <li class="list-group-item">
              <strong>{{format-number product.total format=",0"}}</strong>
              <br /> {{product.name}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>
