<div class="container-fluid login">
    <div class="row m-t-1">
      <div class="logo">
            {{#link-to 'index'}}
            <img src="img/newlogo.png" class="logo img-responsive">
           {{/link-to}}
       </div>
    </div>
   <div class="row m-t-1">
      <div class="content">
            <form class="login-form" {{action 'authenticate' on='submit'}}>
              <div class="form-group {{if error "has-danger"}}">
                <label class="form-control-label" for="identification">{{!-- User Name --}}</label>
                {{input id='identification' placeholder='Enter Login' value=identification class="form-control"}}
              </div>
              <div class="form-group {{if error "has-danger"}}">
                <label class="form-control-label" for="password">{{!-- Password --}}</label>
                {{input id='password' placeholder='Enter Password' type='password' value=password class="form-control"}}
              </div>
                <div class="form-actions">
                <button type="submit" class="btn btn-danger btn-block">Login</button>
                </div>
                {{#if errorMessage}}
                     <div class="alert alert-danger">
                        <button class="close"></button>
                        <span>The email address or password you have entered is incorrect. </span>
                    </div>
                {{/if}}
          </form>
     </div>
  </div>
</div>
{{outlet}}
