<div class="container-fluid">
<div class="row m-t-1">
    <div class="col-md-6">
     <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">List</h3>
              </header>
         <div class="box-typical-body panel-body clearfix">
              <div class="buttonList">
                    {{link-to 'Group' 'revenue' (query-params department=null) class=(if (eq department null) "btn btn-sm btn-danger" "btn btn-sm btn-success")}}
                  {{#each model.departments as |d|}}
                    {{link-to d.name 'revenue' (query-params department=d.id) class=(if (eq department d.id) "btn btn-sm btn-danger" "btn btn-sm btn-success")}}
                  {{/each}}
              </div>
          </div>
      </section>

    </div>
    <div class="col-md-6">

      <section class="box-typical box-typical-dashboard panel panel-default lobipanel" >
              <header class="box-typical-header panel-heading">
                  <h3 class="panel-title">MONTHS</h3>
              </header>
         <div class="box-typical-body panel-body clearfix">
              <div class="buttonList">
                  {{#each months as |month|}}
                            {{link-to
                            (moment-format month 'MMM') 'revenue'
                            (query-params date=(moment-format month "Y-M-D"))
                            class=(if (eq selectedMonth month) "btn btn-sm btn-danger" "btn btn-sm btn-warning")
                          }}
                  {{/each}}
                </div>
          </div>
      </section>

    </div>
  </div>
  {{cross-filter data=model targets=model.targets selectedMonth=selectedMonth selectedDepartment=selectedDepartment}}
</div>
{{outlet}}
